# Ignore everything
*
!.gitignore
!.gitattributes

# Ignore everything in wp-content
wp-content/*

# Do not ignore
!wp-content/themes/
!wp-content/themes/**
!wp-content/mu-plugins/
!wp-content/mu-plugins/**

# Ignore
**/.DS_Store
wp-content/themes/onest-home/node_modules/
