# Ignore everything
*

# Do not ignore
!.gitignore
!.gitattributes
!wp-content/
!wp-content/index.php
!wp-content/themes
!wp-content/themes/**/*
!wp-content/mu-plugins
!wp-content/mu-plugins/**/*

# Ignore
**/.DS_Store
wp-content/themes/onest-home/node_modules/
