.product-item {

    .product-title {
        margin-top: 0.75rem;
        margin-bottom: 0.625rem;
    }

    a {
        text-decoration: none;
    
        &:hover {
            text-decoration: underline;
        }
    }

    .product-price {
        font-size: $fs-14;
    }

    // .product-add-to-cart {
    //     font-size: $fs-13;
    // }
}