// product collection 
.page-template-page-home,
.single-product {

    ul.products {
        padding: 0;
        list-style: none outside;
    }

    ul.products li.product .woocommerce-placeholder {
        border: 0;
    }

    ul.products li.product a img {
        max-width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    ul.products li.product .woocommerce-loop-category__title, 
    ul.products li.product .woocommerce-loop-product__title, 
    ul.products li.product h3 {
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        padding: 0;
        margin-top: 0.75rem;
        margin-bottom: 0.625rem;
    }

    ul.products li.product .price {
        display: block;
        font-size: $fs-14;
        font-weight: $font-weight-medium;
        margin-bottom: 0;
    }

    ul.products li.product .price {
        transition: color .3s ease;
        color: $body-color;
    }

    ul.products li.product a.woocommerce-loop-product__link {
        text-decoration: none;

        &:hover .price {
            color: $gray-dark-liver;
        }
    }

}