.site-footer {
    margin: 5rem 0;
    margin-bottom: 0;
    padding-top: 3.75rem;
    border-top: 1px solid $silver-chinese;

    .footer-top-area {
        padding-bottom: 6.25rem;

        .footer-col-header {
            margin-bottom: 1.25rem;
            font-size: $fs-14;
        }

        nav ul {
            row-gap: 0.625rem;
        }

        a {
            text-decoration: none;

            // &:hover {
            //     text-decoration: underline;
            // }
        }
    }

    .footer-bottom-area {
        padding: 1.25rem 0;

        .date {
            font-size: $fs-12;
        }
    }
}



// page-interior.php
.page-template-page-interior {

    .site-footer {
        margin-top: 0;
        border-top: 0;
    }
}



// page-construction.php
.page-template-page-construction {

    .site-footer {
        margin-top: 0;
        border-top: 0;
    }
}