.site-header {

    a {
        text-decoration: unset;

        &:hover {
            text-decoration: underline;
            color: $black;
        }
    }

    .nav-link {
        padding: 1.5rem 0;
    }

    .site-branding {
        margin-right: 2.75rem;

        .img-wrapper {
            width: 5.875rem;
            aspect-ratio: 94 / 47;
        }
    }

    .menu .cart.menu-item {
        margin-left: auto;
    }

}



// header top area
.site-header {

    // header top area
    .header-top-area {
        padding: 0.75rem 0;
        font-size: $fs-13;
    }
 
    #header-top-area-menu {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;

        a[href="#pll_switcher"] {
            font-size: $fs-14;
            margin-left: 0.875rem;

            &  ~ ul {
                font-size: $fs-14;
                padding-left: 0;
                list-style-type: none;
            } 
        }

        .lang-item {
            font-size: $fs-14;
            margin-left: 0.875rem;
        }
    }
    // header top area end
}



// header main area
.site-header {

    // header main area
    .header-main-area {

        @include media-breakpoint-down(lg) {
            padding: 0.75rem 0;
        }

        // NOT inside offcanvas
        .dropdown-toggle:not(.offcanvas .dropdown-toggle) { 
            
            // arrow
            &::after {
                border: none;
                background-image: url('../assets/images/arrow-dropdown1.svg');
                // background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transform: rotate(180deg);
                width: 0.625rem;
                aspect-ratio: 10 / 5.5;
                vertical-align: middle;
                transition: all 0.25s ease;
            }
            &.show::after {
                transform: rotate(0deg);
            }
        }

        .dropdown-menu .dropdown-item:not(.offcanvas .dropdown-menu .dropdown-item) { 
            
            &::after {
                transform: rotate(90deg);
                position: relative;
                top: -1px;
            }
            &.show::after {
                transform: rotate(180deg);
            }
        }
        // NOT inside offcanvas end
        

        // NOT inside offcanvas
        .dropdown:not(.offcanvas .dropdown) {

            // hover dropdown at level 0
            &:hover {
                & > .dropdown-toggle::after {
                    transform: rotate(0deg);
                }
                .dropdown-menu.depth_0 {
                    display: block;
                }
            }

            // hover dropdown at level 1
            &.at_depth_1:hover {
                & > .dropdown-toggle::after {
                    transform: rotate(180deg);
                }
                .dropdown-menu.depth_1 {
                    display: block;
                }
            }

            .dropdown-menu.depth_0,
            .dropdown-menu.depth_1 {
                // width: 936px;
                border-radius: 0;
                // left: -8.625rem;
                border: 0;
                // background: $white;
                background: $white-lotion;
            }

            .dropdown-menu.depth_0 {
                top: calc(100% + 1px);
                // border-top: 0;
            }

            .dropdown-menu.depth_1 {
                top: 0;
                left: 100%;
            }

            .dropdown-menu[data-bs-popper] {
                margin-top: 0;
            }
        }
        // NOT inside offcanvas end

    }
    // header main area end

}



// offcanvas
.site-header {

    // offcanvas
    .offcanvas {
        overflow: auto;

        @include media-breakpoint-down(lg) {
            padding: 3.5rem 3.5rem 2.5rem;
        }

        .menu {

            @include media-breakpoint-down(lg) {
                gap: 0.875rem;
            }
        }

        .cart.menu-item {
            margin-left: unset;
            margin-top: auto;
            border-top: 1px solid $silver-chinese;
            padding-top: 0.75rem;
        }

        .nav-link {

            @include media-breakpoint-down(lg) {
                font-size: $fs-20;
                padding: 0;
            }
        }

        .cart.menu-item .nav-link {
            font-size: $font-size-base;
        }
        
        .dropdown-toggle {
            position: relative;
            padding-left: 1.75rem;
        }

        // arrow
        .dropdown-toggle::after,
        .dropdown-toggle::before { 
            content: '';
            display: inline-block;
            border: none;
            vertical-align: middle;
            top: 50%;
            height: 1rem;
            width: 1px;
            position: absolute;
            left: 0.5rem;
            background-color: $black;
            transition: transform .25s ease-out;
        }
        .at_depth_1 .dropdown-toggle::after,
        .at_depth_1 .dropdown-toggle::before {
            height: 0.75rem;
            left: -0.75rem;
        }

        // horizontal arrow
        .dropdown-toggle::after { 
            margin-left: 0;
            transform: translate(0, -50%) rotate(90deg);
        }

        // vertical arrow
        .dropdown-toggle::before { 
            transform: translate(0, -50%);
        }
        .dropdown-toggle.show::before {
            transform: translate(0, -50%) rotate(90deg);
        }

        .dropdown-menu {
            border: 0;
            margin: 0;
            padding: 0.5rem 0 0 1.75rem;
        }

        .dropdown-submenu {
            padding: 0.25rem 0 0 0;
        }

        .dropdown-menu.show {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
        }

        .dropdown-item {
            font-size: $fs-14;
            padding: 0;
        }

        .dropdown-item.active,
        .dropdown-item:hover {
            background-color: transparent;
        }

    }

    .offcanvas-header {
        margin-bottom: 1.75rem;

        button svg {
            stroke: $black;
        }

        button svg line {
            stroke-dasharray: 22;
            stroke-dashoffset: 44;
            transition: stroke-dashoffset .44s ease-in-out;
        }

        button svg line:nth-of-type(2) {
            transition-delay: .22s;
        }

        button:hover svg line {
            stroke-dashoffset: 0;
        }
    }
    // offcanvas end

}



// nav burger
.site-header {

   // nav burger
   .navbar-toggler {
        box-shadow: none;

        @include media-breakpoint-down(lg) {
            margin-left: auto;
        }

        svg {
            stroke: $black;
        }
        svg line {
            stroke-dasharray: 45;
            stroke-dashoffset: 90;
            transition: stroke-dashoffset .45s ease-in-out;
        }
        svg line:nth-of-type(2) {
            transition-delay: .15s;
        }
        svg line:nth-of-type(3) {
            transition-delay: .3s;
        }

        &:hover svg line {
            stroke-dashoffset: 0;
        }
    }
    // nav burger end

}