.page-template-page-contacts {

    .intro {

        h1 {
            margin-bottom: 1.625rem;
        }

    }

    .page-content {

        button {
            margin-top: 0.5rem;
        }
    }

    .contact-info-content {
        gap: 1.25rem;
    }

    .contact-info-content .title {
        font-size: $fs-20;
    }

    
}