.page-template-page-about-us {

    .intro {
        padding-bottom: 2.5rem;

        h1 {
            margin-bottom: 1.625rem;
        }

    }

    .page-content {

        button {
            margin-top: 0.5rem;
        }
    }
    
}