.page-template-page-home {

    .hero {

        .btn {
            background-color: transparent;
            color: $white;
            border-color: $white;

            &:hover {
                color: rgba($color: $white, $alpha: 0.8);
                border-color: rgba($color: $white, $alpha: 0.8);
            }
        }
    }


}