.page-template-page-about-us {

    .intro {
        padding-bottom: 2.5rem;
        
        @include media-breakpoint-down(lg) {
            padding-bottom: 0;
        }

        h1 {
            margin-bottom: 1.625rem;
        }

    }

    .page-content {

        button {
            margin-top: 0.5rem;
        }
    }
    
}