.btn-primary {

    &:hover {
        background-color: rgba($color: $primary, $alpha: 0.8);
        // background-color: $gray-dark-liver;
    }
}

.btn-secondary {
    border: 1px solid $primary;

    &:hover {
        border: 1px solid $primary;
        color: $white;
        background-color: $primary;       
    }

    &:active {
        border: 1px solid $primary!important;
        color: $white!important;
        background-color: $primary!important;
    }

    // &:focus {
    //     border: 1px solid $primary!important;
    //     color: $white!important;
    //     background-color: $primary!important;
    //     box-shadow: unset!important;
    // }
}

