// swiper
.my-swiper-wrapper {

    .swiper-pagination {
        margin-top: 2rem;
    }

    .swiper-pagination-bullet {
        width: 0.625rem;
        height: 0.625rem;
        background: $white;
        border: 1px solid $primary;
        opacity: 1;
        transition: background-color .25s ease;
    }
    
    .swiper-pagination-bullet-active {
        background: $primary;
    }

    // .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    //     margin: 0 0.6875rem;

    //     @include media-breakpoint-down(md) {
    //         margin: 0 0.4rem;
    //     }
    // }
}




